<div class="combat-action">
    {{#if move}}
        <div class="action-move"><span>{{localize "COMBAT.PlaysCard"}}</span>
        <img src="systems/mouseguard/assets/deck/ActionDeck{{move}}.webp">
        </div>
    {{/if}}
</div>

