<div class="combat-action">
    {{#if mission}}
        <div class="action-move">
            <span>Draws a Random Mission</span>
        </div>
        <div style="text-align: center;">
                    <br />
             {{mission}}
        </div>           
    {{/if}}
</div>

