<selection class="mouse-tray">
    <div class="flexrow">
        <div id="mouse-pool">
            <div class="dice">
                <ol id="mouse-dice-roll" class="mouse-dice-roll"></ol>
            </div>
        </div>
    </div>
    <div class="flexrow">
        <button class="mouse_dice_button add">
            {{ localize "MOUSEGUARD.AddDice" }}
        </button>
        <button class="mouse_dice_button subtract">
            {{ localize "MOUSEGUARD.SubtractDice" }}
        </button>
        <button class="mouse_roll_button">
            {{ localize "MOUSEGUARD.RollDice" }}
        </button>
    </div>
</section>