<selection class="mouse-tray">
    <input id="mouse_dice_count" value="0" style="visibility: hidden;">
    <div class="flexrow">
        <button class="mouse_roll_button">
            <span id="Mouse-text">Roll Dice</span></button>
        </div>
    
    <div class="flexrow">
        <div id="mouse-pool" >
            <div class="dice">
            <ol id="mouse-dice-roll" class="mouse-dice-roll">
                
            </ol>
            </div>
        </div> 
    </div>

    <div class="flexrow">
        <button class="mouse_dice_button" value="0">
        <span id="Mouse-text">Mouse Dice</span></button>
    </div>


</section>